
.card {
  box-shadow: none;

  background-color: #d7d7d7;
}
.color{
  background-color: #1de9b6;
  box-shadow: none;
  border: none;
  width: fit-content;
  font-size: small;
}

.Avatar-lga{
  width: 90px;
}
.font-size-18 {
  font-size: 18px!important;
}

a {
  text-decoration: none!important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #4362a1!important;
}

.font-size-20 {
  font-size: 20px!important;
}

.font-size-15 {
  font-size: 15px!important;
}
