*{
 color: black;
 font-size:medium;
}
.main-box.no-header {
  padding-top: 20px;
}
h5{
  color: #3498db;
}
.table a.table-link.danger {
  color: #e74c3c;
}
.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;

}
.fa {
  cursor: pointer;
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}

.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 12px 8px; /* Ajouté pour aligner avec le tbody */
  text-align: left; /* Ou centre selon vos besoins */
  border-bottom: 2px solid #e7ebee;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}
a:hover{
text-decoration:none;
}
