

<section class="hero-wrap hero-wrap-2 " style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text  align-items-end justify-content-start">
      <div class="col-md-9  pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/home">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Choose Your Car</h1>
      </div>
    </div>
  </div>
</section>
 <div class="row" id="fs_app">

      <section class="col-12" id="fs_header_bar">
<!-- Filter -->
<div class="container-fluid">
  <div class="row" id="fs_app">
    <div class="col-md-3" id="filter-container">
      <section class="col-12" id="fs_header_bar">
        <div class="row">

          <div class="col-10" id="fs_page_title"> <h4>Filters</h4></div>
          <br><br>
        </div>
      </section>

      <section class="col-12" id="fs_price_body">
        <div>
          <span class="heading">By Price</span>
          <br> <br>
          <div class="line"></div>
          <div class="line1"></div>
          <div>
            <ul>
              <li>$25</li>
              <li>$50</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="col-12" id="fs_distance_body">
        <span class="heading">By Distance</span>
        <div class="contents">
          <ul>
            <li>
              <span>From 1 km to 3 km</span>
              <span class="text-right"></span>
            </li>
            <li class="active">
              <span>From 4 km to 7 km</span>
              <span class="text-right">
                <i class="fa fa-check"></i>
              </span>
            </li>
            <li>
              <span>From 8 km to 10 km</span>
              <span class="text-right"></span>
            </li>
          </ul>
        </div>
      </section>

      <section class="col-12" id="fs_time_body">
        <span class="heading">By Time</span>
        <div class="contents">
          <ul>
            <li>
              <span>Less than 30 Min</span>
              <span class="text-right"></span>
            </li>
            <li>
              <span>30 Min - 45 Min</span>
              <span class="text-right"></span>
            </li>
            <li class="active">
              <span>45 Min - 55 Min</span>
              <span class="text-right">
                <i class="fa fa-check"></i>
              </span>
            </li>
          </ul>
        </div>
      </section>

      <section class="col-12" id="fs_rating">
        <span class="heading">By Rating</span>
        <div class="contents">
          <ul>
            <li>
              <span>
                <i class="fa fa-star dark"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-right"></span>
            </li>
            <li>
              <span>
                <i class="fa fa-star dark"></i>
                <i class="fa fa-star dark"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-right"></span>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="col-md-9">
      <section class="ftco-section">
        <div class="row justify-content-end mb-4">
          <div class="col-auto">
            <label class="mr-2">Price /  :</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="priceOption" id="pricePerDay" value="day" checked>
              <label class="form-check-label" for="pricePerDay">Day</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="priceOption" id="pricePerHour" value="hour">
              <label class="form-check-label" for="pricePerHour">Hour</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" *ngFor="let car of paginatedCars">
            <div class="car-wrap rounded">
              <div class="img rounded d-flex align-items-end" [style.background-image]="'url(' + car.image + ')'"></div>
              <div class="text">
                <h2 class="mb-0"><a href="car-single.html">{{ car.name }}</a></h2>
                <div class="d-flex mb-3">
                  <span class="cat">{{ car.category }}</span>
                  <p class="price ml-auto">${{ car.price }} <span>/day</span></p>
                </div>
                <p class="d-flex mb-0 d-block">
                  <a href="#" class="btn btn-primary py-2 mr-1">Book now</a>
                  <a routerLink="/user/det" class="btn btn-secondary py-2 ml-1">Details</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a (click)="prevPage()">&lt;</a></li>
                <li *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === (i + 1)">
                  <a (click)="setPage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li><a (click)="nextPage()">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
