<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/home">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pricing <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Pricing</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="car-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="bg-primary heading">Price Per Day</th>
                <th class="bg-dark heading">Price Per Month</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars">
                <td class="car-image">
                  <div class="img" [style.background-image]="'url(' + car.image + ')'"></div>
                </td>
                <td class="product-name">
                  <h3>{{ car.marque }} {{ car.modele }}</h3>
                </td>

                <!-- Price per Day -->
                <td class="price">
                  <div class="price-rate">
                    <h3>
                      <span class="num"><small class="currency">$</small>{{ car.prix_par_jour }}</span>
                      <span class="per">/per day</span>
                    </h3>
                  </div>
                </td>

                <!-- Price per Month -->
                <td class="price">
                  <div class="price-rate">
                    <h3>
                      <span class="num"><small class="currency">$</small>{{ car.prix_par_mois }}</span>
                      <span class="per">/per month</span>
                    </h3>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

