<div class="dlabnav">
  <div class="dlabnav-scroll">
<ul class="metismenu" id="menu">
<li class="dropdown header-profile">
  <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
    <img src="https://bootdey.com/img/Content/user_1.jpg" width="20" alt=""/>
    <div class="header-info ms-3">
      <span class="font-w600">Hi, <b>{{ nom || 'Guest' }}</b></span>
      <small class="text-end font-w400">{{ mail}}</small>
    </div>
  </a>

</li>
<li>
  <a href="javascript:void(0)" aria-expanded="false" (click)="godash()" [ngClass]="{'active-link': isDashboardActive}">
    <i class="flaticon-025-dashboard"></i>
    <span class="nav-text">Dashboard</span>
  </a>
</li>
<li>
  <a href="javascript:void(0)" aria-expanded="false" (click)="gocar()" [ngClass]="{'active-link': isCarsActive}">
    <i class="flaticon-050-info"></i>
    <span class="nav-text">Cars</span>
  </a>
</li>
<li>
  <a href="javascript:void(0)" aria-expanded="false" (click)="gores()" [ngClass]="{'active-link': isBookingActive}">
    <i class="flaticon-041-graph"></i>
    <span class="nav-text">Booking</span>
  </a>
</li>
<li>
  <a href="javascript:void(0)" aria-expanded="false" (click)="gouser()" [ngClass]="{'active-link': isUsersActive}">
    <i class="flaticon-086-star"></i>
    <span class="nav-text">Users</span>
  </a>
</li>
<li>
  <a href="javascript:void(0)" aria-expanded="false" (click)="gomaps()" [ngClass]="{'active-link': isMapActive}">
    <i class="flaticon-045-heart"></i>
    <span class="nav-text">Maps</span>
  </a>
</li>
      </ul>
</div>
</div>
