<div class="content-body">
  <!-- row -->
<div class="container-fluid">
  <div class="row invoice-card-row">
    <!-- Total Reservations -->
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="card bg-warning invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <i class="bi bi-receipt text-white fs-3"></i>
          </div>
          <div>
            <h2 class="text-white">{{ reservationCount }}</h2>
            <span class="text-white fs-18">Total Reservations</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Total Users -->
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="card bg-success invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <i class="bi bi-people text-white fs-3"></i>
          </div>
          <div>
            <h2 class="text-white">{{ userCount }}</h2>
            <span class="text-white fs-18">Total Users</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Total Voitures -->
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="card bg-info invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <i class="fa-solid fa-car"></i>
          </div>
          <div>
            <h2 class="text-white">{{ voitureCount }}</h2>
            <span class="text-white fs-18">Total Voitures</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <canvas id="acquisitions" width="400" height="200"></canvas>
  </div>
  
  

  </div>
</div>
