<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{ car.image }}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs">
          <span class="mr-2">
            <a routerLink="/home">Home <i class="ion-ios-arrow-forward"></i></a>
          </span>
          <span>Car Details <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-3 bread">{{ car.marque }} {{ car.modele }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-car-details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="car-details">
          <div class="text text-center">
            <span class="subheading">{{ car.marque }}</span>
            <h2>{{ car.modele }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Year
                  <span>{{ car.annee }}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-money"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Daily Price
                  <span>{{ car.prix_par_jour }} TND</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-money-bag"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Monthly Price
                  <span>{{ car.prix_par_mois }} TND</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Pickup Location
                  <span>{{ car.pik_up_position }}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
