<div class="colour">
   <div class="navg"></div>
 
 <br><br><br>
 <div class="container" id="print">
   <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
            <a href="javascript:;" (click)="printInvoice()"  class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF Or Print </a>
            </span>
CarRental       </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header">
            
            
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th>TASK DESCRIPTION</th>
                     </tr>
                  </thead>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>{{ pricingOption === 'prix_par_jour' ? 'PRICE PER DAY' : 'PRICE PER MONTH' }}</small>
                        <span class="text-inverse">
                           ${{ pricingOption === 'prix_par_jour' ? voitureDetails?.prix_par_jour : voitureDetails?.prix_par_mois }}
                        </span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>PAYPAL FEE (5.4%)</small>
                        <span class="text-inverse">$108.00</span>
                     </div>
                  </div>
                  <div class="invoice-price-right">
                     <small>TOTAL</small>
                     <span class="f-w-600">
                        ${{ calculateTotal() }}
                     </span>
                  </div>
                  
            </div>
            <!-- end invoice-price -->
         </div>
         <a 
  
  class="btn btn-dark btn-lg card-footer-btn justify-content-center text-uppercase-bold-sm hover-lift-light"
  (click)="onPayNow()">
  <span class="svg-icon text-white me-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
      <title>ionicons-v5-g</title>
      <path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
      <rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect>
    </svg>
  </span>&nbsp;
  Pay Now
</a>

         <div class="qr-code-container">
           <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
         </div>
 
 
         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
         <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
               THANK YOU FOR YOUR BUSINESS
            </p>
            <p class="text-center">
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> carRental.com</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> T:016-18192302</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> carRental@gmail.com</span>
            </p>
         </div>
         <!-- end invoice-footer -->
      </div>
   </div>
 </div>ّ
 <br><br>
 </div>